@import '../variables';

.cart {
  width: $cart-width;
  height: $app-height;
  background-color: $cart-background;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  padding: 30px 12px 0;

  &__order {
    position: relative;
    &__item {
      position: relative;
      margin: 16px 0;

      display: flex;
      justify-content: flex-start;

      padding-bottom: 12px;

      border-bottom: 1px solid $grey-lite;

      &--image {
        width: 57px;
        height: 45px;

        border: 1px solid $app-background;
      }

      &__description {
        margin-left: 12px;
        width: 100%;

        &--title {
          display: flex;
          justify-content: space-between;
        }

        &--properties {
          margin: 5px 0;
          color: $black;
          font-size: 10px;
        }
      }

      &__edit {
        position: absolute;
        left: 80%;
        top: 40%;
        display: flex;

        &--button {
          button {
            margin: 5px;

            width: 20px;
            height: 20px;

            border: 1px solid $grey-lite;
            background-color: inherit;
            border-radius: 10px;
            padding-top: -2px;
          }

          button:hover {
            background-color: $violet;
            color: $white;
          }
        }
      }
    }
    &--done {
      position: absolute;
      top: 95%;
      left: 85%;

      border: 1px solid $grey-lite;
      border-radius: 5px;

      background-color: $cart-background;
      padding: 2px 5px;

      font-size: 12px;
    }

    &--done:hover {
      background-color: $violet;
      color: $white;
    }
  }

  &__summary {
    width: 100%;

    &__cost {
      padding-bottom: 10px;
      border-bottom: 1px solid $grey-lite;

      &--item {
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
      }
    }

    &--total {
      margin: 16px 0;

      font-weight: 700;
      color: $violet;

      display: flex;
      justify-content: space-between;
    }
  }

  @include phones {
    order: 0;
    width: 100%;
    height: 400px;
    max-width: 480px;
  }
}
