$app-background: #e6e9f0;
$cart-background: #f1f3f6;

$grey: #777879;
$grey-lite: #d3d3d3;
$grey-dark: #6f6c6d;

$violet: #7a3fa8;

$red: #d93a48;

$black: black;
$white: white;

$app-width: 700px;
$app-height: 600px;

$cart-width: 300px;

$font-stack: 'Raleway', sans-serif;
