@import './fonts';
@import './variables';
@import './mixins';
@import 'libs/normalize';

@import './components/all';

body {
  background-color: $app-background;

  font-size: 12px;
  font-weight: 500;
}

.app {
  max-width: $app-width;
  min-width: 410px;
  height: $app-height;
  margin: 95px auto;
  background-color: $white;

  display: flex;
  justify-content: space-between;

  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.1);

  @include phones {
    flex-direction: column;
    height: 100%;
    margin: 0;
  }
}

.title {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  button {
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    text-decoration-line: underline;

    border: none;
    background-color: inherit;
    color: $violet;
  }
}
